# Get your connection string from the Neon Console:
# Project -> Dashboard -> Connect
DATABASE_URL=
PORT=
HOST=

#ARCJET
ARCJET_KEY=
ARCJET_ENV=
ARCJET_MODE=

#API URL
API_URL=

BROADCAST=
DELAY_MS=
MATCH_COUNT=